body{
    background-color: rgb(35, 36, 41);
    font: normal 18px arial;
}

header{
    color:aliceblue;
    text-align: center;
}

section{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.582);
}
div#div1{
    font-size: 22px;
}
div#tabuada{
    font: normal 18px arial;
    color: aliceblue;
    background-color: #2e2f30;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    height: 250px;
    margin-right: auto;
    border: 3px solid rgb(10, 10, 10);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.582);
}
input#numero{
    font: normal 18px Arial;
    color: aliceblue;
    width: 60px;
    height: 27px;
    background-color: #2e2f30;
    border: 2px solid rgb(10, 10, 10);
    transition: width 0.4s ease-in-out;
    position: relative;
}
input#numero:focus{
    width: 20%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=button] {
    top: -2px;
    left: 10px;
    display: inline-block;
    height: 38px;
    width: 60px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2e2f30;
    border: 3px solid rgb(10, 10, 10);
    border-radius: 15px;
    box-shadow: 0 4px #999;
    position: relative;
    overflow: hidden;
    transition-duration: 0.05s;
    padding: 10px;
  }
  
  input[type=button]:active {
    background-color: #646668;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
  
p#res{
    position: relative;
    top: -20px;
    text-align: center;
}

div.tabu{
    position: relative;
    top: -20px;
}

footer{
    color: aliceblue;
    font-style: italic;
    text-align: center;
}